
<div id="ember36" class="below-footer-outlet custom-footer ember-view">
      <div class="wrap">
        <div class="flexbox">
          <div class="first-box">
            <div class="heading">
              
            </div>
            <div class="blurb">
              
            </div>
          </div>
          <div class="second-box">
            
              <div class="links">
                  <div class="list" data-easyfooter-section="vercel-community-is-built-using-discourse-org,-an-open-source-discussion-platform.-for-more-information-on-privacy-practices,-visit-discourse.org/privacy.">
                    <span>
                      Inworld Community is built using Discourse.org, an open source discussion platform. For more information on privacy practices, visit discourse.org/privacy.
                    </span>

                    <ul>
<!---->                    </ul>
                  </div>
              </div>
            
          </div>

          <div class="third-box">
            <div class="footer-links">
                <a class="small-link" data-easyfooter-small-link="Community Guidelines" target="_blank" https://community.inworld.ai/guidelines">
                  Community Guidelines
                </a>
                <a class="small-link" data-easyfooter-small-link="about" target="_blank" href="/about">
                  About
                </a>
                <a class="small-link" data-easyfooter-small-link="privacy-notice" target="_blank" href="/privacy">
                  Privacy Notice
                </a>
            </div>

            <div class="social">
                <a class="social-link" data-easyfooter-social-link="facebook" title="Join us on Facebook" target="_blank" href="#">
                  <svg class="fa d-icon d-icon-fab-facebook svg-icon svg-string" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="#fab-facebook"></use></svg>
                </a>
                <a class="social-link" data-easyfooter-social-link="twitter" title="Show some love on Twitter" target="_blank" href="#">
                  <svg class="fa d-icon d-icon-fab-twitter svg-icon svg-string" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="#fab-twitter"></use></svg>
                </a>
                <a class="social-link" data-easyfooter-social-link="youtube" title="Check out our latest videos on Youtube" target="_blank" href="#">
                  <svg class="fa d-icon d-icon-fab-youtube svg-icon svg-string" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="#fab-youtube"></use></svg>
                </a>
            </div>
          </div>
        </div>
      </div>
  </div>
