.custom-footer {
  --footer-text-color: #767676;
  background: var(--secondary);
  border-top: $default-border;

  .footer-links {
    display: flex;
    justify-content: center;
  }

  // move note below links
  .second-box {
    order: 10;
    color: var(--footer-text-color);
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .list span {
    font-weight:normal;
    font-size: var(--font-down-1);
  }

  .third-box {
    border: none;

    .social {
      display: none;
    }

    .small-link {
      margin: 0 1em;
      color: var(--footer-text-color);
      transition: color .1s ease;
      font-size: var(--font-0);

      &:hover, &:focus {
        color: var(--primary-900);
      }
    }
  }
}
